.hero {
  background-image:url(//combo.staticflickr.com/pw/images/coverphoto10_h.jpg.v3);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 120px;
  position: relative;
  padding: 2rem;
  padding-top: 3rem;
  padding-bottom: 5rem;

  &__gradient {
    background: linear-gradient(180deg, transparent 0, rgba(0, 0, 0, .03) 8%, rgba(0, 0, 0, .11) 21%, rgba(0, 0, 0, .61) 78%, rgba(0, 0, 0, .7) 95%, rgba(0, 0, 0, .7));
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;    
  }

  @media (min-width: 500px) {
    padding-top: 8.5rem;
    padding-bottom: 2rem;

  }
}

